.formacao {
    width: 100%;
    background-color: #141414;
    color: white;
    margin-top: 50px;
}

.formacao .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
}

.formacao .container .box1 {
    display: flex;
    flex-direction: column;
}

.formacao .container .box1 h2 {
    font-size: 8rem;
    text-transform: uppercase;
    word-break: break-all;
    text-align: center;
    margin-top: 140px;
    color: black;
}

.formacao .container .box2 h2 {
    color: #808080;
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
    font-size: 1.9rem;
}

.formacao .container .box2 h2 span {
    color: white;
    font-weight: bold;
}

.formacao .container .box2 p {
    color: #808080;
    margin-top: 10px;
    text-align: center;
    font-size: 1.125rem;
}

.formacao .container .box2 .flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.formacao .container .box2 .flex .b0 {
    background-color: black;
    color: white;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #0000cd;
}

.formacao .container .box2 .flex .b0 h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 25px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #0000cd;
    left: -28px;
}

.formacao .container .box2 .flex .b1 h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 14px;
    color: #808080;
}

.formacao .container .box2 .flex .b1 h3 {
    font-size: 20px;
    position: relative;
    display: inline;
}

.formacao .container .box2 .flex .b1 span {
    font-size: 20px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 50px;
    display: block;
}

.formacao .container .box2 .flex .b2 h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: #808080;
}

.formacao .container .box2 .flex .b2 h3 {
    font-size: 20px;
    position: relative;
    display: inline;
}

.formacao .container .box2 .flex .b2 span {
    font-size: 20px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 74px;
    display: block;
}

.formacao .container .box2 .info {
    max-width: 600px;
    margin: 0 auto;
}

.formacao .container .box2 .info h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
}

.formacao .container .box2 .info h3::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/formacao/chrome_reader_mode_FILL0_wght600_GRAD0_opsz48\ 1.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: -45px;
    top: -8;
}

.formacao .container .box2 .info ul li {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.formacao .container .box2 .info ul li span {
    color: #808080;
}

.formacao .container .box2 .lang {
    max-width: 600px;
    margin: 0 auto;
}

.formacao .container .box2 .lang h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

.formacao .container .box2 .lang h3::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/formacao/translate_FILL0_wght600_GRAD0_opsz48\ 1.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: -45px;
    top: -8;
}

.formacao .container .box2 .lang ul li {
    font-size: 20px;
    margin-bottom: 5px;
}

@media (max-width: 1100px) {
    .formacao .container {
        grid-template-columns: 1fr;
    }

    .formacao .container .box1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .formacao .container .box1 h2 {
        margin-top: 0;
    }

    .formacao .container .box1 img {
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .formacao .container .box1 h2 {
        font-size: 6.5rem;
    }

    .formacao .container .box2 h2,
    .formacao .container .box2 h2 span {
        font-size: 1.6rem;
    }

    .formacao .container .box2 p {
        font-size: 1rem;
        margin: 0 30px;
        margin-top: 15px;
    }
}

@media (max-width: 700px) {
    .formacao .container .box2 .info,
    .formacao .container .box2 .lang {
        max-width: 500px;
    }

    .formacao .container .box1 img {
        width: 350px;
        margin: 0 auto;
    }
}

@media (max-width: 610px) {
    .formacao .container .box1 h2 {
        font-size: 6rem;
    }
}

@media (max-width: 600px) {
    .formacao .container .box2 .info,
    .formacao .container .box2 .lang {
        max-width: 450px;
    }

    .formacao .container .box2 .info h3::before,
    .formacao .container .box2 .lang h3::before {
        position: initial;
    }

    .formacao .container .box2 h2 {
        display: block;
        width: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .formacao .container .box2 .flex {
        flex-direction: column;
        align-items: center;
    }

    .formacao .container .box1 img {
        width: 300px;
        margin: 0 auto;
    }

    .formacao .container .box1 h2 {
        font-size: 5rem;
    }

    .formacao .container .box2 h2 {
        margin-top: 20px;
    }

    .formacao .container .box2 h2,
    .formacao .container .box2 h2 span {
        font-size: 1.3rem;
        width: 300px;
    }

    .formacao .container .box2 p {
        font-size: 0.8rem;
    }

    .formacao .container .box2 .flex {
        gap: 20px;
    }

    .formacao .container .box2 .flex .b0 {
        padding: 0px;
        padding-left: 20px;
    }

    .formacao .container .box2 .flex .b0 h4 {
        font-size: 12px;
        margin-top: 20px;
    }

    .formacao .container .box2 .flex .b0 h3 {
        font-size: 17px;
    }

    .formacao .container .box2 .flex .b0 span {
        font-size: 17px;
    }

    .formacao .container .box2 .flex .b0 h3::before {
        top: -2px;
    }

    .formacao .container .box2 .info h3 {
        margin-top: 15px;
        font-size: 15px;
    }

    .formacao .container .box2 .lang h3 {
        margin-top: 15px;
        font-size: 15px;
    }

    .formacao .container .box2 .info,
    .formacao .container .box2 .lang {
        max-width: 350px;
    }

    .formacao .container .box2 .info ul li {
        font-size: 16px;
    }

    .formacao .container .box2 .info ul li span {
        font-size: 13px;
    }

    .formacao .container .box2 .info h3::before {
        background-size: 25px;
        width: 25px;
        height: 25px;
    }

    .formacao .container .box2 .lang ul li {
        font-size: 16px;
    }

    .formacao .container .box2 .lang ul li span {
        font-size: 13px;
    }

    .formacao .container .box2 .lang h3::before {
        background-size: 25px;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 430px) {
    .formacao .container .box1 h2 {
        font-size: 4rem;
    }

    .formacao .container .box2 h2,
    .formacao .container .box2 h2 span {
        font-size: 1.1rem;
    }

    .formacao .container .box2 .flex {
        gap: 10px;
    }
}

@media (max-width: 370px) {
    .formacao .container .box2 .info,
    .formacao .container .box2 .lang {
        max-width: 300px;
    }
}

@media (max-width: 350px) {
    .formacao .container .box2 .flex .b0 {
        width: 180px;
        height: 180px;
    }

    .formacao .container .box1 h2 {
        font-size: 3.5rem;
    }

    .formacao .container .box1 img {
        width: 250px;
    }

    .formacao .container .box2 .flex {
        gap: 15px;
    }
}

@media (max-width: 320px) {
    .formacao .container .box2 .info,
    .formacao .container .box2 .lang {
        max-width: 260px;
    }
}

@media (max-width: 300px) {
    .formacao .container .box1 h2 {
        font-size: 3.3rem;
    }
}
