* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    color: #141414;
    background: #f7f7f7;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
