.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.header img {
    width: 250px;
}

.header .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.header .header-menu a {
    font-size: 1.125rem;
    padding: 10px 20px;
    display: block;
    color: #141414;
    cursor: pointer;
}

.header .header-menu a:hover {
    color: #0000cd;
}
.header .header-menu .li {
    background-color: #e2e2e2;
    border-radius: 5px;
}
.header .header-menu a img {
    width: 30px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 460px) {
    .header {
        padding: 40px 50px;
    }
}

@media (max-width: 368px) {
    .header {
        padding: 40px 20px;
    }
}
